### This script connects to the redshift data warehouse containing the staging, fact and dimension tables. It shows some simple analytical queries that are easy to execute with the STAR schema.

In [17]:
import sqlalchemy

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
import configparser

In [12]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
DWH_ENDPOINT = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [33]:
%%sql 

SELECT * FROM songplays
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(14, datetime.datetime(2018, 11, 19, 22, 28, 42), '25', 'paid', 'SOLROLP12AB0184558', 'ARF4L041187FB4D318', '594', 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (78, datetime.datetime(2018, 11, 29, 14, 47, 47), '49', 'paid', 'SOCVAYL12A8C13BEAA', 'AR2BB8H1187B99D608', '1041', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (142, datetime.datetime(2018, 11, 8, 15, 44, 54), '7', 'free', 'SOAMXYQ12AB017C25E', 'ARHRY5S1187B99B96F', '6', 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (206, datetime.datetime(2018, 11, 28, 19, 22), '24', 'paid', 'SOIBAKV12A8C142CE7', 'AR5BX3Y1187FB39E93', '984', 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (270, datetime.datetime(2018, 11, 23, 16, 26, 2), '58', 'paid', 'SOJYPBE12A58A7A994', 'ARIQ98H1187B98DFBC', '852', 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (334, datetime.datetime(2018, 11, 30, 13, 52, 55), '85', 'paid', 'SOYDYJV12A8C13B5CC', 'ARML3X41187FB35F2E', '977', 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (398, datetime.datetime(2018, 11, 28, 21, 46, 30), '24', 'paid', 'SOYDYJV12A8C13B5CC', 'ARML3X41187FB35F2E', '984', 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (462, datetime.datetime(2018, 11, 30, 13, 41, 51), '49', 'paid', 'SOHKAVD12AB01827D1', 'AR5Z3L01187B99C5A9', '1096', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (526, datetime.datetime(2018, 11, 20, 14, 49, 51), '85', 'paid', 'SOZQVTJ12A6701D96B', 'ARVN9FZ1187FB393F1', '759', 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (590, datetime.datetime(2018, 11, 5, 15, 24, 14), '44', 'paid', 'SOZQVTJ12A6701D96B', 'ARVN9FZ1187FB393F1', '269', 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

Which songs are the ones that users listen to most often?

In [37]:
%%sql 

SELECT s.title, COUNT(s.title) AS occurence
FROM songplays sp 
JOIN songs s ON (sp.song_id = s.song_id)
GROUP BY s.title
ORDER BY occurence
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Kite', 2),
 ('Nightime', 2),
 ('See Emily Play', 2),
 ('Slips Of Paper', 2),
 ('I Am Eve', 2),
 ("I'm Drunk (feat. Lil Wyte & Lord Infamous) [Remix]", 2),
 ('Face the Ashes', 2),
 ('Ran Away To Tell The World', 2),
 ('Suena ("Some Day" end title song "The Hunchback of Notre Dame")', 2),
 ('Let It Go', 2)]

In [ ]:
Which artists have several songs that users listen to?

In [42]:
%%sql

SELECT a.name, COUNT(a.name) AS most_often
FROM songs s JOIN artists a ON (s.artist_id = a.artist_id)
GROUP BY a.name
ORDER BY most_often
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('A Perfect Circle', 4),
 ('Faith Kleppinger', 4),
 ('Beatallica', 4),
 ('Abydos', 4),
 ('Alex Beaupain', 4),
 ('Claude Thornhill', 4),
 ('moe.', 4),
 ('Made In Sweden', 4),
 ('Zero Le Crêche', 4),
 ('Chic', 4)]