### This script connects to the redshift data warehouse containing the staging, fact and dimension tables. It shows some simple analytical queries that are easy to execute with the STAR schema.

In [1]:
import sqlalchemy

In [2]:
%load_ext sql

In [3]:
import configparser

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
DWH_ENDPOINT = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh

In [11]:
%%sql 

SELECT * FROM times
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 2, 3, 34, 34), 3, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 9, 13, 37), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 9, 42, 23), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 10, 11, 24), 10, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 10, 34, 14), 10, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 13, 13), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 25, 30), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 36, 38), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 11, 52, 19), 11, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 12, 7, 23), 12, 2, 44, 11, 2018, '5')]

Which songs are the ones that users listen to most often?

In [10]:
%%sql 

SELECT s.title, COUNT(s.title) AS occurence
FROM songplays sp 
JOIN songs s ON (sp.song_id = s.song_id)
GROUP BY s.title
ORDER BY occurence
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [ ]:
Which artists have several songs that users listen to?

In [42]:
%%sql

SELECT a.name, COUNT(a.name) AS most_often
FROM songs s JOIN artists a ON (s.artist_id = a.artist_id)
GROUP BY a.name
ORDER BY most_often
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.clhroja1w73f.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('A Perfect Circle', 4),
 ('Faith Kleppinger', 4),
 ('Beatallica', 4),
 ('Abydos', 4),
 ('Alex Beaupain', 4),
 ('Claude Thornhill', 4),
 ('moe.', 4),
 ('Made In Sweden', 4),
 ('Zero Le Crêche', 4),
 ('Chic', 4)]